:root {
  --BLACK: #222831;
  --BLUE: #30475e;
  --WHITE: #dddddd;
  --RED: #f05454;
  --PRIMARY: #f8f9f2;
  --SECONDARY: #ffffff;
  --NEWBLACK: #141413;
  --TERNARY: #799464;
}
.main {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--BLACK);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  .box {
    height: 95vh;
    flex: 1;
  }

  .box1 {
    position: relative;
    min-width: 75%;
    height: 95vh;
    flex: 2;
    .video-overlay {
      min-height: 100%;
      width: 100%;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
    }
    video {
      z-index: 1;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
